<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
  </head>
  <body>
    <h1>login</h1>
    <form action="/login" method="POST">
      <label for="loginuser">username<br></label> 
      <input type="text" id="loginuser" name="loginuser" required="" autocomplete="off">
      <label for="loginpassword"><br>password<br></label>
      <input type="password" id="loginpassword" name="loginpassword" required>
      <button type="submit" id="loginbtn" style="margin-top: 5px">Submit</button>
    </form>

    <script src="/public/js/login.js"></script>
  </body>
</html>